.reveal img.anmeldung {
  width: 65%;
  height: 65%;
}

.reveal img.abrechnung {
  width: 65%;
  height: 65%;
}

.reveal img.auswertung {
  width: 25%;
  height: 25%;
}

.reveal ul, .reveal ul li {
  margin: 20px;
}

.customText {
  font-size: 0.7em;
}
